

/****** CSS COMUN ******/

:root {

    --brand-primary: #002030;
    --brand-primary-rgba: rgba(0, 32, 48, 0.7);
}

*{
    box-sizing: border-box;
}
.content-container {
    max-width: 1200px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}
.LinkWrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 1000;    
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
   }

.boton{
    border: 1px solid transparent;
    border-radius: 0em;    
    font-size: 1.6rem;
    padding: 0.4em 1.9em;
    line-height: 1.2;
    box-sizing: border-box;
    max-width: 100%;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-weight: normal;
    white-space: nowrap;
    background-color: none;
}
.boton--primary {
    background-color: var(--brand-primary);
    border-color: var(--brand-primary);
    color: #FFF;
}
.boton--primary:hover {
    background-color: #FFF;
    color: var(--brand-primary);
}
a:hover {
    color:inherit;
}
.Title {
    color: var(--brand-primary);
    margin-bottom: 40px;
}
.ViewFull {
    padding:40px 0;
}
.ViewFull-body {
    color: #000;
    margin-bottom: 40px;
}
.ViewFull-body a {
    text-decoration: none;
}

/** SIDEBAR **/


.navbar > .container, .navbar > .container-fluid {
    justify-content: end !important;
}

@media (min-width:64em) {
    .Sidebar {
        display:none;
    }
}



/** HEADER **/


.Header {
 /*   background-color: var(--brand-primary);*/
    background-color: #f4f4f5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1003;
}
.Header-content {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transition: padding 0.5s;
}
.isScrolled .Header-content {
    padding: 0;
    transition: padding 0.5s;
}
.Header-logo {
    display: block;
    background: url(../images/homeland-logo-blue.png) no-repeat left center/cover;
    width: 140px;
    height: 130px;
    transition: height 0.5s, width 0.5s;
}
.isScrolled .Header-logo {
    width: 76px;
    height: 70px;
    transition: height 0.5s, width 0.5s;
}


/** MENU **/

.Menu {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 0;
    margin: 30px;
    position: relative;
}
.Menu-link {
    color: var(--brand-primary);
    text-decoration: none;
    font-size: 16px;
    border-bottom: 1px solid transparent;
    padding: 10px 0;
}
.Menu-link:hover {
    border-bottom-color: var(--brand-primary);
}




/****** SECTION FRONTPAGE ******/




/** SLIDEHOME **/

.SlideHome-slide {
    position: relative;
}
.SlideHome-image {
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.SlideHome-image{

    transition: 2s;
         
}



/** FRONTPAGE **/

.Frontpage {
    background-image: url(../images/home/frontpagebg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}
.Frontpage-container {
  /* background-color: var(--brand-primary-rgba);*/
  background-image: linear-gradient(to right, #d6d6d61f, #d8d8d885, #b3b3b3ea, #bebebee5, #f4f9ffe0, #ffffffd7, #ebebebdc, #ebe9e9e3, #cfcfcff1, #e7e7e7ec, #d8d8d867, #ffffff3b);
    padding: 40px 0;
}
.Frontpage-container .content-container {
    display: flex;
    gap: 50px;    
}
.Frontpage-container--inverted .Frontpage-container-image {
    order: 2;
}
.Frontpage-container-info {
    flex:1;
}
.Frontpage-container .boton {
    position: absolute;
    bottom:0;
}

.Frontpage-container-image {
    width: 300px;
    height:360px;
    background-size: cover;
    flex:1;
}

/** SECTION PRODUCTOS **/

.Productos {
    padding: 20px;
    display: grid;
    row-gap: 24px;
    column-gap: 24px;
    grid-template-columns: repeat(3, 1fr);
}
.Productos-item {
    height: 250px;
    background-size: cover;
    padding: 20px;
    position: relative;
    background: #fff;
    border-bottom: #ddd 1px solid;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition: all 0.5s;    
}
.Productos-item:hover {
    box-shadow: 0 0 13px rgba(0,0,0,0.8);
}
.Productos-item-title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    color: #022534;
    margin-bottom: 20px;
    font-weight: 400;
}
.Productos-item:hover .Productos-item-boton {
    background-color: #FFF;
    color:var(--brand-primary);
    
}



/****** FOOTER ******/  

.Footer {
    background-color: var(--brand-primary);
    color: #FFF;
    display: flex;
    padding: 50px 20px;
    justify-content: space-between;
    margin: auto;
}
.Footer-menu {
    list-style-type: none;
}
.Footer-menu-link,
.Footer-direction a{
    color: #FFF;
    text-decoration: none;
}


.Footer h3{
    font-size: 30px;
    color:#FFF;
}

/** SOCIAL **/
.Social {
    text-align: center;
    padding-bottom: 20px;
    color: #FFF;
 }   
 
 
 .Social a{
    font-size: 30px;
    color: #FFF;
    opacity: 0,70;
    width: 40px;
    height: 40px;
    display: inline-block;  
    line-height: 30px;
    margin: 0 15px;
    opacity: 0.7;
 }

 .Social a:hover {
     opacity: 0.9;
   }
  

/** FORM **/   



.Contacto {
    background-color: #cdcdcd;
    padding: 40px 0;
}
.Form {
    max-width: 950px;
    margin: 0 auto;
    color: #FFF;
} 
.Form h2 {
    font-size: 4rem;
    line-height: 4rem;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: var(--brand-primary);
}
.Form h3 {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 300;
    color: var(--brand-primary);
}
.Form-row {
    page-break-inside: avoid;
    margin: 0;
    margin-bottom: 0px;
    margin-bottom: 1em;
    padding: 0;
    border: none;
    display: block;
}
.Form-label {
    margin-bottom: 0.5em;
    font-size: 0.9em;
    line-height: 1.42em;
    display: inline-block;
    color:var(--brand-primary);    
}
.Form .input {
    background-color: transparent;
    box-shadow: none;
    border: 1px solid var(--brand-primary);
    color: var(--brand-primary);    
    width: 100%;
}
  
.nosotros-p {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 300;
    color: var(--brand-primary);
    }