<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" type="text/css" href="../../../stylesheet/lib/glider.css">
        <link rel="stylesheet" href="../../../stylesheet/main.css">
        <link rel ="icon" href="../../../images/iconito/icono-homeland.ico">

        <script src="../../../javascript/lib/jquery-3.6.4.min.js"></script>
        <script src="../../../javascript/lib/jquery.scrolled.js"></script>
        <script src="../../../javascript/lib/jquery.ba-throttle-debounce.min.js"></script>
        <script src="../../../javascript/tab-panel.js"></script>
        <title>Pedalera Line 6 M13</title>
    </head>
<body>
    <header class="Header">
        <div class="content-container">
            <div class="Header-content">
                <a class="Header-logo" href="../../../index.html"></a>
                <nav class="Menu-nav">
                    <ul class="Menu">
                        <li class="Menu-item"><a class="Menu-link" href="../../../index.html">Home</a></li>
                        <li class="Menu-item"><a class="Menu-link" href="../../categoria-productos.html">Productos</a></li>
                        <li class="Menu-item"><a class="Menu-link" href="../../nosotros.html">Nosotros</a></li>
                        <li class="Menu-item"><a class="Menu-link" href="../../contacto.html">Contacto</a></li>
                    </ul>
                </nav>
                <div class="Sidebar">   
                    <nav class="navbar navbar-light">
                        <div class="container-fluid">
                            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                            <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                                <div class="offcanvas-header">
                                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">HOMELAND</h5>
                                    <button type="button" class="boton-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body">
                                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" href="../../../index.html">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="../../categoria-productos.html">Productos</a>
                                        </li>
                                       <li class="nav-item">
                                            <a class="nav-link" href="../../nosotros.html">Nosotros</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="../../contacto.html">Contacto</a>
                                        </li>                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
     
            </div>
          
        </div>
    </header>
    
    <section>
        <div class="ViewFull Section">
            <h1 class="Title content-container">Pedalera Line 6 M13</h1>
            <div class="content-container">
                <div class="Producto">

                    <div class="Producto-image">
                        <img src="../../../images/productos-section/Pedaleras 1.0/Pedalera Line 6 M13.jpg" alt="American Professional II Jazzmaster® Left-Hand">
                    </div>
                    <div class="tab-panel">
                        <ul class="tabs">
                            <li><a href="#descripcion">Descripción</a></li>
                            <li><a href="#caracteristicas">Caraterísticas</a></li>
                            <li><a href="#video">Video</a></li>
                        </ul>
                        <div class="tab-contents">
                            <div class="Producto-description tab-content" tab="descripcion">
                                
Pedalera 48 escenas, + de 100 Efectos, Looper, Afinador

M13 Stompbox Modeler es la experiencia esencial en el pedaleo todo en uno. Cuenta con una completa colección de efectos de pedal, un looper completo y una flexibilidad inspiradora. Libre de complicados menús o configuración, M13 Stompbox Modeler canaliza el alma y la facilidad de un stompbox clásico.

Con más de 100 distorsiones distintivas, reverberaciones aterciopeladas, retrasos jugosos y mucho más, M13 Stompbox Modeler le ofrece un control de tono total. Utilice hasta cuatro efectos diferentes - o cuatro de los mismos - simultáneamente. Botones estilo Stompbox entregan en la marcha al tocar.
                            </div>
                            <div class="Producto-caracteristica tab-content" tab="caracteristicas">
                                <ul>
                                    <li>
                                        Más de 100 efectos de stompbox, 4 simultáneos en cualquier orden y cualquier combinación.
                                    </li>
                                    <li>
                                        Tap tempo universal para sincronizar todos sus efectos basados en el tiempo como mods y delay.
                                    </li>
                                    <li>
                                        Manejo del Looper con controles de pedal dedicados para Deshacer/Rehacer, Grabar/Overdub, Play/Stop, Media Velocidad, Reverse, Play Once y Pre/Post.
                                    </li>
                                    <li>
                                        Entradas mono o estéreo de 1/4".
                                    </li>
                                    <li>
                                        Dimensiones: 38,7 cm (Ancho) x 29,5 cm (Profundo) x 7,5 cm (Alto)
                                    </li>
                                </ul>
                            </div>
                            <div class="Producto-video tab-content" tab="video">
                                <div class="Video">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/sHhxtqHBQaI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>      
        </div>
    </section>
    <footer class="Footer">
        <ul class="Footer-menu">
            <li class="Footer-menu-item"><a class="Footer-menu-link" href="../../../index.html">Home</a></li>
            <li class="Footer-menu-item"><a class="Footer-menu-link" href="../../categoria-productos.html">Productos</a></li>
            <li class="Footer-menu-item"><a class="Footer-menu-link" href="../../nosotros.html">Nosotros</a></li>
            <li class="Footer-menu-item"><a class="Footer-menu-link" href="../../contacto.html">Contacto</a></li>            
        </ul>
        <div class="Footer-direction">
            <h2>Dirección</h2>
            <a href="https://goo.gl/maps/TUqk9SaAVV6n7syp6" target="_blank">Calle Falsa 1234</a>
        </div>

        <div class="Social">
            <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-youtube-play"aria-hidden="true"></i></a>
        </div>
    </footer> 
</body>
</html>